db.sqlite3
migrations
__pycache__
myenv
v1/...
v1/manage.py
v1/requirements.txt
v1/.vscode/launch.json
v1/amazone/__init__.py
v1/amazone/asgi.py
v1/amazone/settings.py
v1/amazone/urls.py
v1/amazone/wsgi.py
v1/flipcart/__init__.py
v1/flipcart/admin.py
v1/flipcart/apps.py
v1/flipcart/models.py
v1/flipcart/tests.py
v1/flipcart/urls.py
v1/flipcart/views.py
v1/flipcart/templates/login.html
v1/flipcart/templates/flipcart/hello.html
v1/flipcart/templates/flipcart/home.html
v1/flipcart/templates/flipcart/index.html
v1/flipcart/templates/flipcart/invalid.html
v1/flipcart/templates/flipcart/msg.html
v1/flipcart/templates/flipcart/signin.html
v1/flipcart/templates/flipcart/signout.html
v1/flipcart/templates/flipcart/signup.html
