{% include "flipcart/header.html" %}

<!DOCTYPE html>
<html>
<head>
</head>
<body>

    <div class="container">

        {% if user.is_authenticated %}
            {% if user.is_superuser %}
                <!-- Superuser Dashboard -->
                <h1>Superuser Dashboard</h1>
                <h3>ACTIVE USER: {{ user.username }}</h3>
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Date of Birth</th>
                            <th>Gender</th>
                            <th>Phone Number</th>
                            {% if user.is_superuser %}
                                <th>Actions</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody id = "tblmydata">

<!--   
                </tbody>
                    </table>
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Date of Joining</th>
                            {% if can_delete_update %}
                                <th>Actions</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.username }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.date_joined }}</td>-->
                                <!-- {% if can_delete_update %}
                                    <td>
                                        <button onclick="document.getElementById('dlt').style.display='block'">Delete</button>
-->
                                <div id="dlt" class="modal">
                                <span onclick="document.getElementById('dlt').style.display='none'" class="close" title="Close Modal">×</span>
                                <form action="{% url 'dlt' user_id=user.id %}" method="Delete">
                                    {% csrf_token %}
                                <div class="container">
                                <h5>Delete User</h5>
                                <p>Are you sure you want to delete User?</p>
    
                                <div class="clearfix">
                                <button type="button" onclick="document.getElementById('dlt').style.display='none'" class="cancelbtn">Cancel</button>
                                <button type="Delete"onclick="document.getElementById('dlt').style.display='none'"class="deletebtn"><a href="{% url 'dlt' user_id=user.id %}">Delete</a></button>
                            </div>
                            </div>
                        </form>
                    </div>
                    </form>
                                <!-- <form action="{% url 'edit' user_id=user.id %}" method="patch">
                                            {% csrf_token %}
                                            <button type="button" onclick=" return ShowUpdateView({{user.id}})">Edit</button>
                                            <button type="button" onclick="removedata()">Remove</button>
                
                                        </form> 
                                    </td> 
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>-->
                </table>

                <div class="update-form" id='divUpdateForm' style='display:none;'> 
                    <h2>Updated User</h2>
                    <form id="update-form">
                        {% csrf_token %}
                
                        <table>
                            <tbody>
                                <tr>
                                    <td>ID</td>
                                    <td><input type="number" id="lblUserId" ></td> 
                                </tr>
                                <tr>
                                    <td>UserName</td>
                                    <td><input type="text" name="username" id="txtUserName" placeholder="Enter your name"></td>  
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><span id="username-error"class="error"></span></td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td><input type="email" name="email" id="txtEmail" placeholder="Your email"></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><span id="email-error" class="error"></span></td>
                                </tr>
                                <td>DateOfBirth</td>
                                <td><input type="date" name="DateOfBirth" id="txtdob" placeholder="Your date of birth"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><span id="dob-error" class="error"></span></td>
                            </tr>
                                <tr>
                                    <td>Gender</td>
                                    <td>
                                        <select name="gender" id="selGender">
                                            <option value="M">Male</option>
                                            <option value="F">Female</option>
                                            <option value="other">Other</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><span id="gender-error" class="error"></span></td>
                                </tr>
                                <tr>
                                    <td>Phone Number</td>
                                    <td><input type="text" name="phone" id="txtPhone" placeholder="Your phone number"></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><span id="phone-error" class="error"></span></td>
                                </tr>
                                <tr>
                                    <td>                     
                                        <button type="button" id="btnUpdate" onclick="return updateUser()"> Update</button>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
            
                </div>
                
                <button class="signout-btn" onclick="userLogout()">Sign Out</button>
            {% else %}
                <!-- Regular User Dashboard -->
                <h1>User Dashboard</h1>
                <h3>ACTIVE USER: {{ user.username }}</h3>

                <table>
                    <thead>
                        <tr>
                            
                            <th>ID</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Date of Birth</th>
                            <th>Gender</th>
                            <th>Phone Number</th>
                        </tr>
                    </thead>
                    
                        <tbody id = "tblmydata">
                    </table>

        
                <button class="change_password" type="submit"><a href="/change_password">Change Password</a></button>
            {% endif %}
        {% else %}
            <!-- Guest View -->
            <h3 class="subtitle">Invalid user!</h3>
            <p class="message">Please log in to access the site.</p>
        {% endif %}
    </div>

</body>
</html>
