{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="HEADER" content="">
    <link rel="Logo" href="{% static 'staticfiles/Img/icon.png' %}" 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'staticfiles/css/header.css' %}">
    <link rel="script" href="{% static 'staticfiles/script/myscript.js' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <div class="header">
        <h1>Welcome to EPAZZ</h1>
        <h2>{{ user.username }}</h2>
        <img src="{% static 'staticfiles/Img/icon.png' %}" alt="Logo" class="header-logo">
        <button class="signout-btn" onclick="userLogout()">SIGNOUT</button>
    </div>
    
    <script src="{% static 'staticfiles/script/myscript.js' %}" async defer></script>
</body>
</html>
