{% load static %}


<head>
    
    <link rel="Logo" href="{% static 'staticfiles/Img/icon.png' %}" 
    <link rel="stylesheet" href="{% static 'staticfiles/css/main.css' %}">
    <link rel="script" href="{% static 'staticfiles/script/myscript.js' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
    <div class="header">
        <h1>Welcome to EPAZZ</h1>
        <h2>{{ user.username }}</h2>
        <img src="{% static 'staticfiles/Img/icon.png' %}" alt="Logo" class="header-logo">
        <button class="signout-btn" onclick="userLogout()">SIGNOUT</button>
        <script src="{% static 'staticfiles/script/myscript.js' %}" async defer></script>
    </div>
</head>

