<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<!DOCTYPE html>
<html>
<head>
    <title>EPAZZ</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="container">
        <h1 class="title">WELCOME TO EPAZZ</h1>

        {% if user.is_authenticated %}
            <h3 class="subtitle">You are in the right place</h3>
            <p class="message">{{ message }}</p>
        {% endif %}
        <button class="signout-btn" type="submit"><a href="/signout">Sign Out</a></button>
    </div>
</body>
</html>

        
        
        <script src="" async defer></script>
    </body>
</html>