<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>FLIPCART</title>
    <meta name="" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>
<body>
    <h3>admin_login</h3>

    <form name="registration" class="registartion-form" onsubmit="return formValidation()" method="post" action="/admin_login/">
        {% csrf_token %}
        <table>
            <tr>
                <td><label for="username">Username:</label></td>
                <td><input type="text" id="username" name="username" placeholder="Enter username (only letters and numbers)" required></td>
            </tr>
            <tr>
                <td><label for="password">Password:</label></td>
                <td><input type="password" id="password" name="password" placeholder="Enter password" required></td>
            </tr>
        </table>
        <br>
        <button type="submit"><a href="/admin_login">admin login</a></button>
    
    </form>
    

    <script src="" async defer></script>
</body>
</html>
